
# Ignore .ZDA files
*.ZDA
*.fits

# Ignore .ipynb_checkpoints
.ipynb_checkpoints/
__pycache__/
.vscode/

# Ignore data for the jacobians and saved images
jacobians/
images/
ote-wfe-data/
phase-retrieval-data/
notebooks/test-files/


