
# Ignore .ZDA files
*.ZDA
*.csv 
apra_pop_models.egg-info/

# Ignore .ipynb_checkpoints
.ipynb_checkpoints/
__pycache__/
.vscode/

# Ignore data for the jacobians and saved images
jacobians/
images/
pupil-data/
notebooks/test-files/


